h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
div{
    text-align: center;
}
#kiss{
    width: 350px;
    height: 350px;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 39%;
}
#kiss:hover{
    opacity: 0;
}
p{
    position: absolute;
    top: 60%;
    left: 41%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: red;
}

#meow{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 300px;
    height: 300px;
}

#uwu{
    position: absolute;
    top: 40%;
    left: 70%;
    width: 300px;
    height: 300px;
}